<%= simple_form_for(@relation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :thing %>
    <td><%= f.input :relation_type_id, collection: Relation::RELATION_TYPES %></td>
    <%= f.input :related_to_thing_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
