<%=simple_form_for(@thing, html: { class: 'form-horizontal' }) do |f| %>
<%= f.error_notification %>
<table>
  <th>Nombre Español</th>
  <th>Nombre Ingles</th>
  <tr>
    <td><%= f.input :name_es, label:false %></td>
    <td><%= f.input :name_en, label:false %></td>
  </tr>
</table>

<h4>Propiedades</h4>
<table>
  <th>Nombre Español</th>
  <th>Nombre Ingles</th>
  <th>Tipo</th>
  <%= f.fields_for :properties, @thing.properties do |property| %>
  <tr>
    <%= property.hidden_field :id, label:false %>
    <td><%= property.input :name_es, label:false %></td>
    <td><%= property.input :name_en, label:false %></td>
    <td><%= property.association :type, label:false, :collection => Type.all, prompt: "Tipo de dato", :label_method => :name, :value_method => :id %></td>
  </tr>
  <% end %>
</table>
<%= f.submit %>
<% end %>
