<%=simple_form_for(@thing, html: { class: 'form-horizontal' }) do |f| %>
<%= f.error_notification %>
<table>
  <th>Nombre Español</th>
  <th>Nombre Ingles</th>
  <tr>
    <td><%= f.input :name_es, label:false %></td>
    <td><%= f.input :name_en, label:false %></td>
  </tr>
</table>

<h4>Propiedades</h4>
<table id="tabla">
  <th>Nombre Español</th>
  <th>Nombre Ingles</th>
  <th>Tipo</th>
  <%= f.fields_for :properties, @thing.properties do |property| %>
    <%= render "property_fields", :f => property %>
  <% end %>
</table>
<p><%= link_to_add_fields "Agregar Propiedad", f, :properties %></p>
<%= f.submit %>
<% end %>
