<p id="notice"><%= notice %></p>

<p>
  <strong>Clase:</strong>
</p>
<p>
<%= @thing.name %>
</p>
<p>
<table>
	<th>Propiedad</th>
  	<th>Tipo</th>
	<th></th>
	<tbody id="properties_table">
	<%= render (@thing.properties) %>
	</tbody>
</table>
</p>
<p>
<strong>Asociaciones:</strong>
</p>
<p>
<table>
	<th></th>
	<th></th>
  	<th></th>
  	<tbody id="relations_table">
	<%= render (@thing.relations) %>
	</tbody>
</table>
</p>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
