<p id="notice"><%= notice %></p>

<p>
  <strong>Name en:</strong>
  <%= @property.name_en %>
</p>

<p>
  <strong>Name es:</strong>
  <%= @property.name_es %>
</p>

<p>
  <strong>Thing:</strong>
  <%= @property.thing %>
</p>

<p>
  <strong>Type:</strong>
  <%= @property.type %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
